<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ43KTyX1AbU_Dy4lWaOBnkhcqXhgI3xY</string>
	<key>GCM_SENDER_ID</key>
	<string>623322235915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bilio</string>
	<key>PROJECT_ID</key>
	<string>newq-4f566</string>
	<key>STORAGE_BUCKET</key>
	<string>newq-4f566.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623322235915:ios:85c62a6ec3a30b1e8a730e</string>
</dict>
</plist>